<nav>
    <div class="site-title">
        <a href="/">
            <img src="../log.png" alt="">
            <h1 id="box-title"> 音楽 ONGAKU BOX</h1>
        </a>
    </div>
    <ul>
        <li><a href="/">Ongaku Box</a></li>
        <li><a href="/register">Upload New Sheet</a></li>
    </ul>
</nav>
<!-- This is blogs content starting-->